<%= form_with(model: therapist, local: true) do |form| %>
  <% if therapist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(therapist.errors.count, "error") %> prohibited this therapist from being saved:</h2>

      <ul>
      <% therapist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :therapist_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :therapist_surname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :therapist_email %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :therapist_cpf %>
  </div>

  <div class="field">
    <%= form.label :phone1 %>
    <%= form.text_field :phone1, id: :therapist_phone1 %>
  </div>

  <div class="field">
    <%= form.label :phone2 %>
    <%= form.text_field :phone2, id: :therapist_phone2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
