<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapist.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @therapist.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @therapist.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @therapist.cpf %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @therapist.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @therapist.phone2 %>
</p>

<%= link_to 'Edit', edit_therapist_path(@therapist) %> |
<%= link_to 'Back', therapists_path %>
