<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @facility.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @facility.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @facility.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @facility.title %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
